
button{
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(58, 51, 58);
    color: white;
    
}
*{
    background-color: rgb(63, 33, 102);
}
.calculator{
    width: 400px;
    height: 600px;
    margin: 150px 100px 100px 750px;
    border-radius: 11px;
    background-color: black;

}
input{
    top: 30px;
}
